body{
    font-family: sans-serif;
    margin: 0;
    padding:0;
    padding-top: 20px;
}
h2{
    margin-top: 20px;
}
footer{
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}
#res-form{
    /* Style for the form area */
}
#res-temp {
    /* display: none; */
}
.profile {
    width: 150px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    border-radius: 50%; /* Make it a circle */
}
.background{
    /* background: rgb(0, 255, 255); */
}
li{
    list-style:square;
}
